/venv
data/raw/vicon_data/check.ipynb
**/__pycache__/
data/processed/viconbert/train_data.json
data/processed/viconbert/valid_data.json
/embeddings
data/raw/vicon_data/polysemous_words.csv
data/raw/vicon_data/word_synsets_without_polysemy.csv
data/raw/vicon_data/synsets_with_multiple_words.csv
/data/raw/vietnamses-wordnet_cleaned
data/raw/vicon_data/filtered_word_synsets.csv
data/processed/viconbert/train_data_v2.json
data/processed/viconbert/valid_data_v2.json
data/raw/check.py
data/processed/viconbert/train_data_v3.json
data/processed/viconbert/valid_data_v3.json
data/raw/vicon_data/pseudo_sent_v2.json
data/raw/vicon_data/pseudo_sents_v3.json
data/processed/viconbert/valid_data_v4.json
data/processed/viconbert/train_data_v4.json
data/raw/vicon_data/pseudo_sents_v4.json
data/raw/vicon_data/poly_by_group.json
data/raw/vicon_data/poly_by_group_v2.json
BERT_BASE-20250820T150905Z-1-001
transformers
index_mean.faiss
word_ids_mean.json
metadata_mean.json
data/processed/viconbert/train_data.json
data/raw/vicon_data/check.ipynb
